
Analysis/Poster/
Politika/out/
Politika/.idea/
Politika/Politika.iml
Sandbox/
Analysis/parlParse/
xmlParser/.idea/
xmlParser/out/
xmlParser/xmlParser.iml
xmlParser/hansardData.csv
venv/
.vscode/
NeuralNetwork/dataMassage/
NeuralNetwork\logs\
xmlParser/*.csv
Politika/src/META-INF/MANIFEST.MF
Poster/Draft.docx
Poster/Draft.docx
*.v2
*.trace
